@model WebApplication15.Models.creditcard

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>creditcard</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.email_address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email_address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.creditcard_number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.creditcard_number)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cvc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cvc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Card_Holder)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Card_Holder)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
